<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	
    <title>Брейн-вопросы</title>
	
	<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
	<script src="<% request.uri_base %>/javascripts/script.js" type="text/javascript"></script>

</head>
	<body>
		<!--div id="main" data-role="header">
        </div-->
		<div id="main" class="ui-content">
			<% content %>
		</div>
        <div data-role="footer">
        </div>
	</body>
</html>
